#address {
	background: url(../images/address.jpg) no-repeat;
	background-size: cover;
	padding: 50px 0;
	h3 {
		max-width: 300px;
		color: #fff;
		font-size: 22px;
		&::after {
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -115px;
			transform: scaleX(0.15);
			content: '';
			width: 230px;
			height: 2px;
			background-color: #fff;
			transition: 1s;
		}
		&:hover::after {
			transform: scaleX(1);
		}
	}
	p {
		margin-top: 20px;
		color: #fff;
	}
	form {
		margin: 50px auto 0 auto;
		height: 35px;
		a {
			@include btn(91.66667%, 35px, $red-color, #fff, 25px);
			&:hover {
				@include btn-hover($main-color);
			}
		}
	}
}