#banner {
	.content {
		margin-left: 115px;
		color: #fff;
		h2 {
			font-size: 60px;
		}
		p {
			font-weight: lighter;
		}
	}
	a {
		@include btn(330px, 65px, $main-color, #fff, 5px);
		margin-top: 50px;
		font-size: 30px;
		&:hover {
			background-color: #ce4836;
		}
	}
}