#banner {
	.content {
		margin-left: 115px;
		color: #fff;
		h2 {
			font-size: 60px;
		}
		p {
			font-weight: lighter;
		}
	}
	a {
		margin-top: 50px;
		width: 330px;
		height: 65px;
		line-height: 65px;
		text-align: center;
		font-size: 30px;
		color: #fff;
		background-color: $main-color;
		letter-spacing: 5px;
		transition: .5s;
		&:hover {
			background-color: #ce4836;
		}
	}
}