#poster {
	background: url('../images/poster.png') no-repeat center 30%;
	background-color: #dedede;
	p {
		padding-top: 160px;
		padding-bottom: 50px;
		font-size: 54px;
		color: $font-color;
		letter-spacing: 5px;
	}
}