#view {
	overflow: hidden;
	&>div {
		height: 530px;
	}
	hgroup {
		height: 530px;
		background: url(../images/view01.jpg) no-repeat;
		padding: 115px 0;
		h3,
		h2,
		p {
			color: #fff;
			margin: 0;
			text-align: center;
		}
		h3 {
			font-size: 50px;
		}
		h2 {
			font-size: 160px;
			margin: -20px 0;
		}
		p {
			font-size: 22px;
			line-height: 2;
		}
		
	}
	hgroup::after {
			right: 0;
			border-right: 25px solid #fff;
		}
	.view02 {
		background: url(../images/view02.jpg) no-repeat;
		&::before {
			left: 0;
			border-left: 25px solid #fff;
		}
	}
	hgroup,
	.view02 {
		position: relative;
		background-size: cover;
	}
	hgroup::after,
	.view02::before {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
	}
}