#view {
	overflow: hidden;
	&>div {
		height: 530px;
	}
	.view01 {
		background: url(../images/view01.jpg) no-repeat;
		background-size: cover;
		padding: 120px 0;
		h3,
		h2,
		p {
			color: #fff;
			margin: 0;
			text-align: center;
		}
		h3 {
			font-size: 50px;
		}
		h2 {
			font-size: 160px;
			margin: -20px 0;
		}
		p {
			font-size: 22px;
			line-height: 2;
		}
	}
	.view02 {
		background: url(../images/view02.jpg) no-repeat;
		background-size: cover;
	}
}