#volunteer {
	min-height: 750px;
	.volunteer-sidebar {
		padding-left: 120px;
	}
	.volunteer-main {
		padding-left: 70px;
		textarea {
			margin-top: 15px;
			padding-left: 15px;
			padding-top: 5px;
			width: calc(66.67% + 30px);
			height: 120px;
			background-color: #ededed;
			border: none;
			font-size: 12px;
		}
		a {
			margin-top: 15px;
			width: calc(66.67% + 30px);	
			height: 40px;
			line-height: 40px;
			text-align: center;
			background-color: #ededed;
			color: #333;
			font-size: 14px;
			transition: .5s;
			&:hover {
				background-color: $main-color;
				color: #ededed;
			}
		}
	}
}