#volunteer {
	padding-bottom: 100px;
	.volunteer-sidebar {
		padding-left: 120px;
	}
	@media (max-width: 640px) {
		.volunteer-sidebar {
			padding-left: 0;
			& article {
				width: 80%;
				margin-left: 10%;
			}
		} 
	}
	.volunteer-main {
		padding-left: 70px;
		textarea {
			margin-top: 15px;
			padding-left: 15px;
			padding-top: 5px;
			width: calc(66.67% + 30px);
			height: 120px;
			background-color: #ededed;
			border: none;
		}
		a {
			@include btn(calc(66.67% + 30px), 40px, #ededed, #333)
			margin-top: 15px;
			&:hover {
				@include btn-hover($main-color);
			}
		}
	}
}