#gallary {
	min-height: 600px;
	background-color: #f7f7f7;
	overflow: hidden;
	&>div {
		min-height: 400px;
		margin: 100px auto;
	}
	section {
		text-align: center;
	}
	h2,
	h3,
	p {
		text-align: center;
	}
	img {
		border: 1px solid #e1dedc;
		padding: 12px 8px;
	}
	h2 {
		box-sizing: border-box;
		padding-left: 30px;
		margin: 10px;
		font-size: 20px;
		letter-spacing: 30px;
	} 
	h3 {
		font-size: 14px;
		margin: 10px;
	}
	p {
		font-size: 12px;
		color: #777;
		margin: 7px;
	}
}