.paragraph {
	padding: 150px 0;
	h3 {
		font-size: 21px;
		font-weight: normal;
		position: relative;
		max-width: 180px;
		line-height: 1.5;
		margin-bottom: 50px;
		&::after {
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -75px;
			transform: scaleX(0.2);
			content: '';
			width: 150px;
			height: 2px;
			transition: 1s;
		}
		&:hover::after {
			transform: scaleX(1);
		}
	}
	a {
		font-size: 20px;
	}
}	
.para01 {
	background-color: $main-color;
	h3::after {
		background-color: #fff;
	}
	h3,
	a {
		color: #fff;
	}
	a {
		@include btnl(170px, 45px, #fff)
		&:hover {
			@include btn-hover(#fff, $main-color);
		}
	}
} 
.para02 {
	h3::after {
		background-color: #ccc;
	}
	h3 {
		color: $font-color;
	}
	a {
		@include btnl(170px, 45px, $main-color)
		&:hover {
			@include btn-hover($main-color);
		}
	}
} 
.para03 {
	padding: 110px 0;
	h3 {
		margin-bottom: 20px;
	}
	h3::after {
		background-color: $main-color;
		bottom: -10px;
	}
	p {
		font-size: 12px;
		color: #aaa;
		line-height: 1.5;
	}
}