.select {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	border: 1px solid #fff;
	min-height: 35px;
	font-size: 12px;
	color: #aaa;
  	background: url(../images/select-icon.jpg) no-repeat scroll 95% 7px #fff;
	&:not(:last-child) {
		margin-right: 30px;
	}
	&:hover {
		border-color: $red-color;
	}
	&:hover ul{
		display: block;
		box-sizing: border-box;
		border: 1px solid $red-color;
	}
	h6 {
		height: 35px;
		line-height: 35px;
		padding-left: 10px;
	}
	ul {
		display: none;
		position: absolute;
		z-index: 1;
		width: calc(100% + 2px);
		left: -1px;
	}
	li {
		padding-left: 30px;
		height: 30px;
		line-height: 30px;
		color: #333;
		background-color: #e3e3e3;
		transition: background-color .5s, color .5s;
		&:hover {
			position: relative;
			background-color: $red-color;
			color: #fff;
			&::before {
				position: absolute;
				left: 10px;
				top: 3px;
				content: url("../images/yes-icon.png")
			}
		}
	}
}