#slogan {
	overflow: hidden;
	div {
		position: relative;
		min-height: 250px;
		text-align: center;
	}	
	img {
		margin: 45px auto;
	}
	p {
		margin: 0 auto;
		max-width: 155px;
		height: 50px;
		font-size: 14px;
		color: $font-color;
	}
	div:not(:last-child)::after {
		position: absolute;
		content: '';
		width: 2px;
		height: 50px;
		background-color: #aaa;
		right: 0;
		top: 140px;
	}
}