.textpage {
	padding: 150px 0;
	position: relative;
	h3 {
		margin-top: 0;
		font-size: 20px;
		text-align: center;
		span {
			color: $main-color;		
			font-weight: normal;
		}
	}
	p {
		margin: 0 auto;
		font-size: 12px;
		color: $font-color;
		line-height: 2em;
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	a {
		@include btnl(105px, 35px, $main-color)
		margin: 45px auto auto auto;
		font-size: 12px;		
		&:hover {
			@include btn-hover($main-color);
		}
	}
}